<main>
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center" style="background-color: #87CEFA;">
        <div class="my-5">
            <img src="./assets/images/pelao.png" width="100px">

            <h1 class="display-3 fw-bold">QUIENES SOMOS</h1>

            <h3 class="fw-normal text-muted mb-3 py-2">
                Conoce un poco más acerca de RECUPERA SOS.
            </h3>
        </div>
    </div>

    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary">
        <div class="container py-2">
            <p>
                Recupera SOS EIRL está comprometida con brindar un servicio de alta calidad, basado en la ética
                profesional,
                el respeto a las normas legales y el compromiso con la satisfacción de nuestros clientes.
            </p>
        </div>

        <div class="container text-center py-2">
            <div class="row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <div class="card border-info h-100">
                        <div class="card-body">
                            <h5 class="card-title">MISIÓN</h5>

                            <p class="card-text">
                                Brindar soluciones integrales que generen efectividad y eficiencia en la administración
                                de
                                su portafolio crediticio, basadas en la ética profesional, el respeto a las normas
                                legales y
                                el compromiso con la recuperación, así como la gestión adecuada de los remates
                                judiciales de
                                nuestros clientes.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="card border-info h-100">
                        <div class="card-body">
                            <h5 class="card-title">VISIÓN</h5>

                            <p class="card-text">
                                Ser la empresa líder en cobranzas con soluciones estratégicas, reconocida por su
                                excelencia
                                en el servicio, ética profesional y compromiso con la satisfacción de nuestros clientes.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container py-2">
            <div class="card border-info h-100">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col">
                            <img src="./assets/icons/valores.png" width="350px">
                        </div>

                        <div class="col py-2">
                            <h5 class="card-title">VALORES</h5>

                            <p class="card-text">
                                <i class="bi bi-check-lg" style="color: blue;"></i>
                                Integridad: Actuamos con honestidad, transparencia y responsabilidad en todas
                                nuestras
                                relaciones.
                            </p>

                            <p class="card-text">
                                <i class="bi bi-check-lg" style="color: blue;"></i>
                                Profesionalismo: Brindamos un servicio de alta calidad, basado en el conocimiento y
                                la
                                experiencia de nuestro equipo.
                            </p>

                            <p class="card-text">
                                <i class="bi bi-check-lg" style="color: blue;"></i>
                                Eficiencia: Optimizamos nuestros recursos para lograr los mejores resultados en el
                                menor
                                tiempo posible.
                            </p>

                            <p class="card-text">
                                <i class="bi bi-check-lg" style="color: blue;"></i>
                                Respeto: Tratamos a nuestros clientes, colaboradores y stakeholders con respeto y
                                consideración.
                            </p>

                            <p class="card-text">
                                <i class="bi bi-check-lg" style="color: blue;"></i>
                                Compromiso: Nos comprometemos con la satisfacción de nuestros clientes y el logro de
                                nuestros
                                objetivos.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container py-2">
            <div class="card border-info h-100">
                <div class="card-body">
                    <h5 class="card-title py-3">OBJETIVOS ESTRATÉGICOS</h5>

                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <img src="./assets/icons/bar-chart.png" width="70">

                                <p>
                                    Incrementar la participación de mercado en la recuperación de deuda vencida del
                                    sistema financiero peruano.
                                </p>
                            </div>

                            <div class="col">
                                <img src="./assets/icons/developt.png" width="70">

                                <p>
                                    Desarrollar nuevos productos y servicios para satisfacer las necesidades de
                                    nuestros
                                    clientes.
                                </p>
                            </div>

                            <div class="w-100"></div>

                            <div class="col">
                                <img src="./assets/icons/group.png" width="70">

                                <p>
                                    Fortalecer nuestro equipo de profesionales altamente capacitados y
                                    comprometidos.
                                </p>
                            </div>

                            <div class="col">
                                <img src="./assets/icons/technology.png" width="70">

                                <p>
                                    Implementar tecnología de punta para optimizar nuestros procesos y mejorar la
                                    eficiencia.
                                </p>
                            </div>

                            <div class="w-100"></div>

                            <div class="col">
                                <img src="./assets/icons/convenio.png" width="70">

                                <p>
                                    Consolidar nuestra reputación como una empresa líder en recuperación de deuda
                                    vencida y
                                    administración de remates.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container py-2">
            <div class="card border-info h-100">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col">
                            <img src="./assets/icons/servicios.png" width="350px">
                        </div>

                        <div class="col py-2">
                            <h5 class="card-title">SERVICIOS</h5>

                            <div>
                                <p class="fw-bold">
                                    <i class="bi bi-check-lg" style="color: blue;"></i>
                                    Recuperación de deuda vencida
                                </p>

                                <p>
                                    Brindamos un servicio integral para la recuperación de deuda vencida, desde la
                                    gestión pre-judicial hasta la cobranza judicial.
                                </p>
                            </div>

                            <div>
                                <p class="fw-bold">
                                    <i class="bi bi-check-lg" style="color: blue;"></i>
                                    Administración de remates
                                </p>

                                <p>
                                    Administramos remates de bienes muebles e inmuebles de clientes deudores, de
                                    manera
                                    eficiente y transparente.
                                </p>
                            </div>

                            <div>
                                <p class="fw-bold">
                                    <i class="bi bi-check-lg" style="color: blue;"></i>
                                    Capacitación en riesgos financieros
                                </p>

                                <p>
                                    Ofrecemos capacitación en riesgos financieros a empresas e instituciones, para
                                    prevenir y mitigar el riesgo de morosidad.
                                </p>
                            </div>

                            <div>
                                <p class="fw-bold">
                                    <i class="bi bi-check-lg" style="color: blue;"></i>
                                    Servicios legales de recuperación de deudas
                                </p>

                                <p>
                                    Brindamos servicios legales de recuperación de deudas a clientes, a través de un
                                    equipo de abogados especializados.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>