<main>
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center" style="background-color: #87CEFA;">
        <div class="my-5">
            <h1 class="display-3 fw-bold">CONTACTO</h1>

            <h3 class="fw-normal text-muted mb-3">Puede contactarnos mediante los siguientes medios.</h3>
        </div>
    </div>

    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3">
        <div class="container text-center py-2">
            <div class="row">
                <div class="col">
                    <div class="card border-info h-100">
                        <div class="card-body">
                            <img class="py-2" src="./assets/support.png" width="100px">

                            <h5 class="card-title">TELÉFONO</h5>

                            <p class="card-text">+51 902168503</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card border-info h-100">
                        <div class="card-body">
                            <img class="py-2" src="./assets/email.png" width="100px">

                            <h5 class="card-title">CORREO ELECTRÓNICO</h5>

                            <p class="card-text">dflorest&#64;gmail.com</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card border-info h-100">
                        <div class="card-body">
                            <img class="py-2" src="./assets/address.png" width="100px">

                            <h5 class="card-title">DIRECCIÓN</h5>

                            <p class="card-text">Av. El Infierno - Calle Inframundo - Villa Salvaje</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container py-2">
            <div class="card border-info h-100">
                <div class="card-body">
                    <h5 class="card-title">SIGUENOS EN NUESTRAS REDES SOCIALES</h5>

                    <a class="btn btn-primary btn-circle btn-lg" style="background-color: #3b5998;" href="#!">
                        <i class="bi bi-facebook"></i>
                    </a>

                    <a class="btn btn-primary btn-circle btn-lg" style="background-color: #ac2bac;" href="#!">
                        <i class="bi bi-instagram"></i>
                    </a>

                    <a class="btn btn-danger btn-circle btn-lg" style="background-color: #ed302f;" href="#!">
                        <i class="bi bi-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>